* {
  box-sizing: border-box;
}


body {
  background-image: url(../images/gravel.png);
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, 'Times New Roman', Times, serif;
 
}

header {
  width: 100%;
  background-color:white;
  border-bottom: 2px solid grey;
}

.header-wrapper {
  width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header-wrapper h1 {
  margin: 0;
  margin-top: 2%;
  background-color: #4aaaa5;
  padding: 20px 15px;
  color: white;
}

.header-wrapper nav {
  margin-left: auto;
  display: flex;
  flex-wrap: auto;
  justify-content: center;
}

.header-wrapper nav a {
  color: gray;
  padding: 0 15px;
  font-size: 20px;
  text-decoration: none;
  /* border-right: 2px solid var(--light-blue); */
}

.header-wrapper nav a:last-child {
  border-right: none;
}

@media screen and (max-width: 768px) {

  .header-wrapper {
    width: 100%;
    text-align: center;
  }

  .header-wrapper h1,
  .header-wrapper nav {
    width: 100%;
  }

}

main{
  width: 960px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
}

main h2{
  color: #4aaaa5;
  padding: 0 10px 20px;
  border-bottom: 3px solid gray;
}


.flex-container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  width: 100%;
}

.flex-container img{
  width: 200px;
}



.flex-item{
  width: 30%;
  /* background-color: grey; */
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 45px;
  margin-left: 31px;
  background-size: cover;
  padding: 8px 0;
  min-height: 250px;
  display: flex;
  flex-direction: column;
}

.flex-item.img1{
  background-image: url(../images/box1_img.jfif);

}

.flex-item.img2{
  background-image: url(../images/box2_img.jpg);

}

.flex-item.img3{
  background-image: url(../images/box3_img.jfif);

}
.flex-item.img4{
  background-image: url(../images/box44_img.jfif);

}
.flex-item.img5{
  background-image: url(../images/box55_img.jfif);

}
.flex-item span{
  margin-top: auto;
  
  width: 100%;
  background-color:teal;
  color: white;
  padding: 10px 5px;
  text-align: center;
}

footer{
  width: 100%;
  text-align: center;
  background-color: grey;
  border-top:5px solid teal;
  color: beige;
  padding-top: 20px;
   margin-bottom: 20px;
}

